
#sidebar-wrapper{display:none ! important}#main-wrapper{width:100%! important}
    
    .filter-bar {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
    }

    #search, #categoryFilter {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    #search {
      flex: 1;
      min-width: 200px;
    }

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  gap: 20px;
  justify-items: center;
  margin-bottom:60px;
}

.product-card {
  width: 100%;  
  border: 1px solid #eee;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
  background-color: #f2f2f2;
}

    .product-card:hover {
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    .product-image img {
      width: 100%;
      block-size:auto ! important;
      height: 120px;
      object-fit: contain;
      border-radius:8px 8px 0 0;
    }

    .product-title {
      margin: 0 0 6px 0;
      font-size:18px;
      font-weight:500;
    }

    .buy-btn, #loadMore {
      cursor:pointer;
        width:100%;
      display: inline-block;
      padding: 10px 20px;
      background-color: #0077b5;
      color: #fff ! important;
      border: none;
      border-radius: 4px;
      text-decoration: none;
      text-align:center;
      font-style:normal;
      transition: background 0.3s ease;
    }
#loadMore{
  width:auto;
  background:#ffffff;
  color:#0077b5 ! important;
  border:1px solid #0077b5;
  padding:10px 35px;
  margin:0 auto;
  display:block;
  font-weight:medium;
}
    .buy-btn:hover {
      background-color: #004cc1;
    }

.share-dropdown{
  text-align:left;position: absolute; background: #fff; border: 1px solid #ccc; padding: 10px; z-index: 999;
}

    @media (max-width: 768px) {
      .product-image img {
        height: 120px;
      }
    } 