---
import PageLayout from "../layouts/PageLayout.astro";

const frontmatter = {
  title: "HTML Sitemap - Wikimint",
  description: "Learn more about Wikimint...",
  canonical: "https://www.wikimint.com/about",
  image: "https://www.wikimint.com/assets/images/business-motivation-marketing-strategy-personal-finance-strategy.webp",
  tags: ["about", "business", "finance"],
  author: "Wikimint Team",
};
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<PageLayout frontmatter={frontmatter}>

      <h1 class="text-2xl mb-4">HTML Sitemap</h1>
      <p class="bluebox">Browse all posts and pages on Wikimint. Welcome to the sitemap page. Here you'll find organized links to all pages, key articles and resources, including personal finance tips, business strategies, investment guides, and entrepreneurial ideas. Easily navigate to your desired topic and start learning today!

      </p>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12">
        <div>
          <h2 class="text-xl mt-6 mb-0">Static Pages</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6">
            <ul class="mt-0">
              <li><a href="https://www.wikimint.com" class="text-wmblue hover:underline">Home</a></li>
              <li><a href="/about" class="text-wmblue hover:underline">About</a></li>
              <li><a href="/contact" class="text-wmblue hover:underline">Contact</a></li>
              <li><a href="/legal#terms" class="text-wmblue hover:underline">Terms</a></li>
              <li><a href="/legal#privacy" class="text-wmblue hover:underline">Privacy</a></li>

            </ul>
            <ul class="mt-0">
              <li><a href="/recommended" class="text-wmblue hover:underline">Recommended</a></li>
              <li><a href="/developer-innovation-hub" class="text-wmblue hover:underline">Developer hub</a></li>
              <li><a href="/write-for-us" class="text-wmblue hover:underline">Write for us</a></li>
              <li><a href="/share-your-story" class="text-wmblue hover:underline">Share your story</a></li>
            </ul>
          </div>

        </div>

        <div>
          <h2 class="text-xl mt-6 mb-2">Post Categories</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6">
            <ul>
              <li><a href="/business" class="text-wmblue hover:underline">Business</a></li>
              <li><a href="/celebrity" class="text-wmblue hover:underline">Celebrity</a></li>
              <li><a href="/economy" class="text-wmblue hover:underline">Economy</a></li>
              <li><a href="/entertainment" class="text-wmblue hover:underline">Entertainment</a></li>
              <li><a href="/fashion" class="text-wmblue hover:underline">Fashion</a></li>
              <li><a href="/finance" class="text-wmblue hover:underline">Finance</a></li>
              <li><a href="/general" class="text-wmblue hover:underline">General</a></li>
              <li><a href="/health" class="text-wmblue hover:underline">Health</a></li>
            </ul>
            <ul>
              <li><a href="/internet" class="text-wmblue hover:underline">Internet</a></li>
              <li><a href="/marketing" class="text-wmblue hover:underline">Marketing</a></li>
              <li><a href="/money" class="text-wmblue hover:underline">Money</a></li>
              <li><a href="/nature" class="text-wmblue hover:underline">Nature</a></li>
              <li><a href="/science" class="text-wmblue hover:underline">Science</a></li>
              <li><a href="/skills" class="text-wmblue hover:underline">Skills</a></li>
              <li><a href="/technology" class="text-wmblue hover:underline">Technology</a></li>
              <li><a href="/travel" class="text-wmblue hover:underline">Travel</a></li>
            </ul>
          </div>
        </div>
      </div>

      <h3 class="text-xl mb-2 pb-3 border-b border-gray-500">Blog Posts</h3>
      <ol class="pl-6 space-y-2">
        {posts
          .sort(
            (a, b) =>
              new Date(b.data.date ?? 0).getTime() -
              new Date(a.data.date ?? 0).getTime()
          )
          .map((post) => (
            <li>
              <a href={`/${post.slug}`} class="text-wmblue hover:underline">
                {post.data.title}
              </a>
            </li>
          ))}
      </ol>
      




</PageLayout>
