---
// get all blog posts
import { getCollection } from "astro:content";
const posts = await getCollection("posts");

const year = new Date().getFullYear();
// count posts per category
const categories = posts.reduce((acc: Record<string, number>, post) => {
  const cat = post.data.category || "Uncategorized";
  acc[cat] = (acc[cat] || 0) + 1;
  return acc;
}, {});
---


<footer class="bg-gray-50 text-gray-900 border-t border-gray-300 py-5 mt-10">
  <!-- First Row -->
  <div class="grid grid-cols-1 md:grid-cols-12 gap-6 md:gap-12 max-w-7xl mx-auto px-6 py-12">
    <!-- Pages -->

    
    <!-- Categories -->
    <div class="col-span-1 md:col-span-4 md:pe-5">
      <div class="h-card text-sm leading-loose" itemscope itemtype="http://schema.org/Organization">
        <a href="https://www.wikimint.com" class="text-xl font-bold text-wmblue-600">
          <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <img 
              alt="Master Personal Finance, Business Growth, Digital Marketing" 
              class="u-logo" 
              data-height="46" 
              data-width="200" 
              width="165" 
              height="38"
              src="/assets/images/wikimint-logo-200x46.webp"
              itemprop="contentUrl"
            >
            <meta itemprop="url" content="https://www.wikimint.com/assets/images/wikimint-logo-200x46.webp">
          </span>
    
          <!-- Add a generic image for the Organization (fixes 'Missing field "image"') -->
          <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="https://www.wikimint.com/assets/images/wikimint.webp">
            <meta itemprop="contentUrl" content="https://www.wikimint.com/assets/images/wikimint.webp">
            <meta itemprop="width" content="200">
            <meta itemprop="height" content="46">
          </span>
        </a>
          
        <p class="mt-4 p-adr h-adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span class="p-name org" itemprop="name">Wikimint</span>, 
          <span class="p-street-address" itemprop="streetAddress">Saraswathi Nagar, Neelankarai</span>, 
          <span class="p-locality" itemprop="addressLocality">Chennai</span>,  
          <span class="p-region" itemprop="addressRegion">Tamil Nadu</span>,  
          <span class="p-postal-code" itemprop="postalCode">600115</span>, 
          <span>India</span>
          <span class="p-country-name sr-only" itemprop="addressCountry">IN</span>
        </p>
    
        <hr class="border my-2"/>
    
        <!-- Email -->
        <p class="flex items-center gap-1">
          <img loading="lazy" src="/assets/svg/envelope.svg" alt="Mail to Wikimint - Contact" width="100" height="100" class="w-[20px]"/>
          <a class="u-email ms-2" href="mailto:support&#64;wikimint&#46;com">
            support&#64;wikimint&#46;com
          </a>
          <meta itemprop="email" content="support@wikimint.com">
        </p>
    
        <!-- Phone -->
        <p class="flex items-center gap-1">
          <img loading="lazy" src="/assets/svg/phone.svg" alt="Call Wikimint - Support" width="100" height="100" class="w-[20px]"/>
          <a class="p-tel ms-2" href="tel:+914435707014">
            +91 44 3570 7014
          </a>
          <meta itemprop="telephone" content="+914435707014">
        </p>
    
        <!-- Organization Metadata -->
        <meta itemprop="name" content="Wikimint">
        <meta itemprop="url" content="https://www.wikimint.com">
    
        <!-- Founder -->
        <div itemprop="founder" itemscope itemtype="https://schema.org/Person">
          <meta itemprop="name" content="Selvakumaran Krishnan">
          <meta itemprop="url" content="https://sk.wikimint.com">
        </div>
    
        <!-- Social Profiles -->
        <meta itemprop="sameAs" content="https://twitter.com/wikimint">
        <meta itemprop="sameAs" content="https://www.facebook.com/wikimintofficial">
        <meta itemprop="sameAs" content="https://www.instagram.com/wikimintofficial">
        <meta itemprop="sameAs" content="https://www.linkedin.com/company/wikimintofficial">
        <meta itemprop="sameAs" content="https://www.youtube.com/channel/UCWxiax3p4uu8qQhfVPak2VA">
      </div>
    </div>
    
    
    

    <div class="col-span-1 md:col-span-4">

      
      <div class="grid grid-cols-2 md:grid-cols-6 gap-6 md:gap-10 max-w-7xl mx-auto">
        
        <!-- First column -->
        <div class="col-span-1 md:col-span-2">
          <ul class="space-y-3">
            <li><a href="https://www.wikimint.com" class="hover:text-gray-500">Home</a></li>
            <li><a href="/about" class="hover:text-gray-500">About</a></li>
            <li><a href="/contact" class="hover:text-gray-500">Contact</a></li>
            <li><a href="/legal#terms" class="hover:text-gray-500">Terms</a></li>
            <li><a href="/legal#privacy" class="hover:text-gray-500">Privacy</a></li>
          </ul>
        </div>
    
      
        <!-- Third column -->
        <div class="col-span-2 md:col-span-3">
          <ul class="space-y-2">
            <li><a href="/recommended" class="hover:text-gray-500">Recommended</a></li>
            <li><a href="/developer-innovation-hub" class="hover:text-gray-500">Developer hub</a></li>
            <li><a href="/write-for-us" class="hover:text-gray-500">Write for us</a></li>
            <li><a href="/share-your-story" class="hover:text-gray-500">Share your story</a></li>
            <li><a href="/sitemap" class="hover:text-gray-500">Sitemap</a></li>
          </ul>
        </div>
      </div>
      
    </div>
    




  <!-- Disclaimer -->
  <div class="col-span-1 md:col-span-4">
   

    <p class="mb-5 flex">
      <a href="/sitemap" class="mr-2">
        <img loading="lazy" src="https://img.shields.io/badge/HTML-5-red?logo=html5&logoColor=white&style=flat-square" alt="HTML Badge" />
      </a>
    
      <a href="/sitemap.xml" target="_blank" class="mr-2">
        <img loading="lazy" src="https://img.shields.io/badge/XML-1.0-blue?logo=xml&logoColor=white&style=flat-square" alt="XML Badge" />
      </a>
    
      <a href="/rss.xml" target="_blank" class="mr-2">
        <img loading="lazy" src="https://img.shields.io/badge/RSS-2.0-orange?logo=rss&logoColor=white&style=flat-square" alt="RSS Badge" />
      </a>
    
      <a href="/atom.xml" target="_blank" class="mr-2">
        <img loading="lazy" src="https://img.shields.io/badge/Atom-1.0-green?logo=atom&logoColor=white&style=flat-square" alt="Atom Badge" />
      </a>
    </p>

    
     <!-- Copyright -->
  <p class="text-sm my-6">&copy; {year} Wikimint. All rights reserved.</p>


  <!-- Social Icons -->
  <div class="flex space-x-4 mt-3 md:mt-0">
    <a href="https://twitter.com/wikimint" 
        aria-label="Follow Wikimint on Twitter" 
        title="Follow Wikimint on Twitter" 
        target="_blank"
        rel="noopener"
        class="text-gray-600 hover:text-gray-900">
        <img loading="lazy" src="/assets/svg/x.svg" alt="Follow Wikimint on Twitter" width="100" height="100" class="w-[20px]"/>

    </a>
    <a href="https://www.facebook.com/wikimintofficial" 
        aria-label="Follow Wikimint on Facebook" 
        title="Follow Wikimint on Facebook" 
        target="_blank"
        rel="noopener"
        class="text-gray-600 hover:text-gray-900">
        <img loading="lazy" src="/assets/svg/facebook.svg" alt="Follow Wikimint on Facebook" width="100" height="100" class="w-[20px]"/>

    </a>
    <a href="https://www.instagram.com/wikimintofficial/?e=e9cefaac-36b9-4c51-87b3-4ab92b3f4e4f&g=5" 
    aria-label="Follow Wikimint on Instagram" 
    title="Follow Wikimint on Instagram" 
    target="_blank"
    rel="noopener"
    class="text-gray-600 hover:text-gray-900">
    <img loading="lazy" src="/assets/svg/instagram.svg" alt="Follow Wikimint on Instagram" width="100" height="100" class="w-[20px]"/>
  
    </a>
    <a href="https://www.linkedin.com/company/wikimintofficial" 
    aria-label="Connect with Wikimint on LinkedIn" 
    title="Connect with Wikimint on LinkedIn" 
    target="_blank"
    rel="noopener"
    class="text-gray-600 hover:text-gray-900">
    <img loading="lazy" src="/assets/svg/linkedin.svg" alt="Connect with Wikimint on LinkedIn" width="100" height="100" class="w-[20px]"/>
  
    </a>
    <a href="https://www.youtube.com/channel/UCWxiax3p4uu8qQhfVPak2VA" 
    aria-label="Wtach Wikimint on YouTube" 
    title="Watch Wikimint on YouTube"     
    target="_blank"
    rel="noopener"
    class="text-gray-600 hover:text-gray-900">
    <img loading="lazy" src="/assets/svg/youtube.svg" alt="Watch Wikimint on YouTube" width="100" height="100" class="w-[20px] text-gray:300"/>

    </a>
  </div>
    
  </div>
</div>


</footer>

<!-- EMAIL POPUP START -->
<div id="emailPopup"
  class="fixed bottom-5 right-5 bg-gradient-to-br from-black to-neutral-900 rounded-xl shadow-2xl p-6 w-[90%] max-w-sm z-[9999999] hidden animate-fade-in-up">
  
  <form action="https://www.sendsteed.com/subscribe/" method="post" target="_blank" class="relative">
    <h2 class="font-semibold text-[#0077b5] mb-2">Join Our Free Newsletter</h2>
    <p class="text-sm text-white mb-5">
      Get insights on personal finance, business, and marketing strategy, straight to your inbox.
    </p>

    <input name="e5735" type="email" required placeholder="Your Email"
      class="w-full p-2.5 mb-3 border border-gray-300 rounded-md text-sm bg-gray-100 focus:outline-none focus:ring-2 focus:ring-[#0077b5]" />

    <input name="n5735" type="text" required placeholder="Your Name"
      class="w-full p-2.5 mb-3 border border-gray-300 rounded-md text-sm bg-gray-100 focus:outline-none focus:ring-2 focus:ring-[#0077b5]" />

    <input type="hidden" name="lllid" value="5735">
    <input type="hidden" name="lluid" value="selvaklnc">
    <input type="hidden" name="redirect" value="">
    <input type="hidden" name="source" value="">

    <button type="submit"
      class="w-full bg-[#0077b5] hover:bg-[#005f91] text-white py-3 px-4 rounded-md text-sm font-medium transition">
      Subscribe
    </button>

    <span onclick="closePopup()"
      class="absolute top-1 right-3 text-white text-3xl cursor-pointer">&times;</span>
  </form>

  <p class="text-sm text-right text-white mt-4 mb-0">
    Powered by 
    <a href="https://sendsteed.com/?r=selvaklnc" target="_blank" rel="nofollow noopener" class="text-sm text-gray-300 hover:text-[#0077b5]">
      SendSteed
    </a>
  </p>
</div>
<!-- EMAIL POPUP END -->




<script src="/assets/js/script.js" defer></script>
