<aside class="sticky top-6  space-y-6">
  <div class="">
    <div class="bluebox text-center border-0">
      <img width="100" height="100" alt="Submit guest posts and get featured! Share your expertise with us and reach a wider audience through our write-for-us program." title="Write for Us – Submit Guest Posts and Get Featured" class="d-block mx-auto w-full p-12" src="/assets/images/write-for-us-accepting-guest-post.webp"/>
      <h2>Got a story to share?</h2>
      <p>Write for us! We accept guest posts. We’d love to feature your thoughtful writings! Check out our <a href="/write-for-us#writing-guidelines">writing guidelines</a>.</p></div>
  </div>


  <div class="px-4 py-7 shadow border border-gray-300 items-center justify-center text-center">
            
      <img class="mx-auto" alt="Follow Wikimint on social media and get fresh financial related content."  data-original-height="48" data-original-width="200" src="/assets/images/follow-wikimint-on-social-media.webp"/>
      
      <p class="my-5"><span class="fs-20 mb-1 block">Join <strong>3,00,000+</strong> Readers</span> <span>Get Financial and Business Updates Daily.</span></p>
      
      <div class="flex w-fit mx-auto space-x-4 mt-3 md:mt-0">
        <a href="https://twitter.com/wikimint" 
            aria-label="Follow Wikimint on Twitter" 
            title="Follow Wikimint on Twitter" 
            target="_blank"
            rel="nofollow noopener" 
           class="text-twitter hover:text-gray-600">
           <img src="/assets/svg/x.svg" width="100" height="100" class="w-[20px] text-gray:300"/>

        </a>
        <a href="https://www.facebook.com/wikimintofficial" 
            aria-label="Follow Wikimint on Facebook" 
            title="Follow Wikimint on Facebook" 
            target="_blank"
            rel="nofollow noopener"
            class="text-facebook hover:text-gray-600">
            <img src="/assets/svg/facebook.svg" width="100" height="100" class="w-[20px] text-gray:300"/>

        </a>
        <a href="https://www.instagram.com/wikimintofficial/?e=e9cefaac-36b9-4c51-87b3-4ab92b3f4e4f&g=5" 
        aria-label="Follow Wikimint on Instagram" 
        title="Follow Wikimint on Instagram" 
        target="_blank"
        rel="nofollow noopener" 
        class="text-instagram hover:text-gray-600">
        <img src="/assets/svg/instagram.svg" width="100" height="100" class="w-[20px] text-gray:300"/>
 
        </a>
        <a href="https://www.linkedin.com/company/wikimintofficial" 
        aria-label="Connect with Wikimint on LinkedIn" 
        title="Connect with Wikimint on LinkedIn" 
        target="_blank"
        rel="nofollow noopener"
        class="text-linkedin hover:text-gray-600">
        <img src="/assets/svg/linkedin.svg" width="100" height="100" class="w-[20px] text-gray:300"/>
 
        </a>
        <a href="https://www.youtube.com/channel/UCWxiax3p4uu8qQhfVPak2VA" 
        aria-label="Wtach Wikimint on YouTube" 
        title="Watch Wikimint on YouTube"     
        target="_blank"
        rel="nofollow noopener"
        class="text-youtube hover:text-gray-600">
        <img src="/assets/svg/youtube.svg" width="100" height="100" class="w-[20px] text-gray:300"/>

        </a>
      </div>


      
  </div>
  <div
  class="m-4 p-5 pb-20 shadow-[1rem_0.1rem_#0077b5,-1rem_-0.1rem_#ccc] min-h-[300px] text-center"
>
  <img
    src="/assets/images/authors/selvakumaran-krishnan.webp"
    alt="Selvakumaran Krishnan, the founder of Wikimint, a business magazine dedicated to sharing innovative ideas, entrepreneurial insights, and success stories."
    title="Selvakumaran Krishnan - Founder of Wikimint Business Magazine"
    class="rounded mx-auto mb-5 pb-5 max-w-[260px] w-full h-auto"
    width="100"
    height="100"
  />

  <p class="mb-0 text-sm">Follow & Connect with</p>
  <h3 class="mt-0 mb-4 text-lg font-semibold">Selvakumaran Krishnan</h3>

  <div class="flex justify-center space-x-4 text-2xl">
    <!-- LinkedIn -->
    <button
      data-link="https://www.linkedin.com/in/selvakumaran-krishnan"
      aria-label="LinkedIn"
      class="text-blue-700 hover:text-blue-800 cursor-pointer"
    >
    <img src="/assets/svg/linkedin.svg" width="100" height="100" class="w-[20px] text-gray:300"/>

    </button>

    <!-- Facebook -->
    <button
      data-link="https://www.facebook.com/selvakumarank"
      aria-label="Facebook"
      class="text-blue-600 hover:text-blue-700 cursor-pointer"
    >
    <img src="/assets/svg/facebook.svg" width="100" height="100" class="w-[20px] text-gray:300"/>

    </button>

    <!-- Twitter/X -->
    <button
      data-link="https://twitter.com/selvakumarankri"
      aria-label="Twitter"
      class="text-gray-800 hover:text-black cursor-pointer"
    >
    <img src="/assets/svg/x.svg" width="100" height="100" class="w-[20px] text-gray:300"/>

    </button>

    <!-- Website -->
    <a
      href="https://sk.wikimint.com"
      target="_blank"
      aria-label="Personal Website"
      class="text-gray-500 hover:text-gray-700 cursor-pointer"
    >
    <img src="/assets/svg/web.svg" width="100" height="100" class="w-[20px] text-gray:300"/>

    </a>
  </div>
</div>


  <div>
    <a rel="noopener" href="https://news.google.com/publications/CAAqBwgKMJuNpAwwrYWzBA?ceid=IN:en&oc=3" target="_blank"><img src="/assets/images/Follow-Wikimint-on-Google-NEWS.webp" width="100" height="100" class="w-full" alt="Follow Wikimint on Google NEWS"/></a>
  </div>
</aside>
