---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const {
  title = "Wikimint",
  description = "",
  noindex = false, // default false if not given in md
} = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={Astro.url} />
    {noindex 
      ? <meta name="robots" content="noindex, nofollow" /> 
      : <meta name="robots" content="index, follow" />
    }
    

{import.meta.env.PROD && (
<!-- Google Tag Manager -->
<script is:inline>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
 new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
 j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
 })(window,document,'script','dataLayer','GTM-M5WJVVQ');
 </script>
 <!-- End Google Tag Manager -->
 </>
)}

<slot name="head" />
  </head>
  <body>
    <Header />
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
      <slot />  <!-- page content will render here -->
    </main>
    <Footer />
  </body>
</html>
